{%  extends 'accounts/base.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Delete Order</h5>
				</div>
				<div class="card card-body">
					<form action="" method="POST">
						{% csrf_token %}
						<h4>Are you sure, you want to delete {{order.product}}</h4>
						<a href="{% url 'index' %}" class="btn btn-warning">cancle</a>
						<button type="submit" class="btn btn-danger">Submit</button>
					</form>
				</div>
			</div>
			
		</div>

{% endblock content %}